# Copyright (c) Team CharLS.
# SPDX-License-Identifier: BSD-3-Clause

# User-specific files
*.suo
*.user

# Build results
build*/

# Visual Studio Code
.vscode/

# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap
